<% @user ||= current_user %>
<div class="stats">
  <div class="stat">
    <strong id="following">
      <%= @user.following.count %>
    </strong>
    <span>following</span>
  </div>
  <div class="stat">
    <strong id="followers">
      <%= @user.followers.count %>
    </strong>
    <span>followers</span>
  </div>
</div>
