<% @user ||= current_user %>
<div class="stats">
  <strong id="following" class="stat">
    <%= @user.following.count %>
  </strong>
  <span>following</span>
  <strong id="followers" class="stat">
    <%= @user.followers.count %>
  </strong>
  <span>followers</span>
</div>