<% if logged_in? %>
  <div id="logged-home-container">

  </div>
<% else %>
  <div id="logged-out-home-container">
    <div class="portal-form">
      <span>Sign up</span>
      <%= render 'users/form' %>
    </div>
  </div>
<% end %>