<% if logged_in? %>
  <div id="container-logged-in">

  </div>
<% else %>
  <div id="container-logged-out">
    <div class="portal-form">
      <%= link_to new_user_path do %>
        <div class="portal-button">
          <h2>Sign up</h2>
        </div>
      <% end %>
    </div>
  </div>
<% end %>