<% if logged_in? %>
  <div id='l-col'>
  	<h3>Quotes</h3>
  </div>
  <div id='c-col'>
  	<h3>Activity</h3>
    <% current_user.following.each do  |user| %>
      <% user.books.each do  |book| %>
        <article class='following-new-read-book'>
          <%= image_tag user.avatar.url(:medium) %>
          <a href=""><img src="<%= book.cover_thumbnail %>"></a>
        </article>
      <% end %>
    <% end %>
  </div>
  <div id='r-col'>
  	<h3>Events</h3>
  </div>
<% else %>
  <div id="sign-up-form">
    <%= render 'users/form' %>
    <%= render 'sessions/form' %>
   </div>
<% end %>