<div id="intro-heading-row" class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1 id="intro-heading">Leavs</h1>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <%= render 'users/form' %>
  </div>
  <div class="col-md-3">
    <%= render 'sessions/form' %>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-12" id="intro-graphic">
    <%= image_tag("books-original.png") %>
  </div>
</div>
