<% if session[:current_user_id] %>
  <div class="simple-form">
    <%= link_to 'Profile', user_path(current_user) %>
  </div>
<% else %>
  <div class='simple-form'>
    <%= link_to 'Sign up', new_user_path %>
  </div>
<% end %>