<% if logged_in? %>
  <div id="container-logged-in">

  </div>
<% else %>
  <div id="container-logged-out">
    <div class="portal-form">
      <span>Sign up</span>
      <%= render 'users/form' %>
    </div>
  </div>
<% end %>