<div id="search-bar">
  <%= form_tag(books_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search books" %>
    <br>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<p id="notice"><%= notice %></p>

<div id="search-results">
  
</div>