<li class="media">
  <div class="media-left">
    <a href="<%= user_path(post.user.id) %>">
      <img class="media-object" src="<%= post.user.avatar.url(:medium) %>" alt="...">
    </a>
  </div>
  <div class="media-body">
    <p><%= post.content %></p>
    <div class="post-footer">
    </div>
  </div>
</li>