<li class="media">
  <div class="media-left">
    <a href="<%= user_path(post.user.id) %>">
      <%= image_tag post.user.avatar.url(:medium), class: "img-rounded media-object" %>
    </a>
  </div>
  <div class="media-body">
    <p><%= post.content %></p>
    <div class="post-footer">
    </div>
  </div>
</li>