#bookshelf {
	text-align: justify;
}

.book {
	display: inline-block;
	margin: 15px 5px 0 5px;
	text-align: center;
	vertical-align: bottom;

	img {
		box-shadow: 0px 0px 4px #888888;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
	}

	img:hover {
		box-shadow: 0px 0px 2px #888888;
		transform: scale(1.025);
		-webkit-transform: scale(1.025);
	}

	input[type=submit] {
		height: auto;
		width: auto;
	}
}

.searched-book {
	width: 80px;
	form {
		width: 100%;
		input {
			width: 100%;
		}
	}
}

#search-results {
	text-align: justify;
	padding: 10px;
}

.media-body p {
	min-height: 40px;
	margin: 0;
}

.post-footer {
	height: 20px;
}

.back-button:hover {
	text-decoration: none;
}

.back-button p {
	display: inline-block;
}

.discussion-content {
	overflow: hidden;
}

.description-modal {
	padding: 10px;
}

#title-heading {
	margin-top: 0;
}

#book-info {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #f8f8f8;
	border-radius: 4px;
	margin: 0 0 15px 0;
	border: 1px solid #e7e7e7;
}

#book-info-image {
	box-shadow: 0px 0px 4px #888888;
	width: 100%;
}

#readership-toggle {
	text-align: center;
	margin-top: 10px;
}
