header {
	// background-image: image-url("green-texture.png");
	background-color: #2F2F2F;
 	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 0px 6px #888888;
	height: 50px;
	z-index: 100;
	#nav-main {
		font-family: "Helvetica";
		height: 50px;
		margin: 0 auto;
		width: 960px;
		#nav-left {
			width: 70%;
			display: inline-block;
			float: left;
			h1 {
				display: inline-block;
				float: left;
				margin: 10.5px 15px 0 10px;
				padding: 0;
				font-size: 25px;
			}
			h2 {
				display: inline-block;
				font-size: 15px;
				float: left;
				margin: 16px 15px 0 15px;
				padding: 0;
			}
		}
		#nav-right {
			display: inline-block;
			width: 30%;
			#user-menu {
				float: right;
				height: 50px;
				display: inline-block;
				position: relative;
				font-size: .85em;
				span {
					float: left;
					display: inline-block;
					margin: 17px 10px 0 0;
					color: white;
				}
				h2 {
					display: inline-block;
					font-size: 15px;
					float: left;
					margin: 16px 10px 0 0;
					padding: 0;
				}
				#navbar-username {
					font-weight: normal;
				}
				#logged-out-image {
					float: right;
					border-radius: 100%;
					margin: 10px 10px 0 0;
					background-color: lightgray;
					height: 30px;
					width: 30px;
				}
				img {
					float: right;
					border-radius: 100%;
					margin: 10px 10px 0 0;
				}
				.user-menu-options {
					margin: 0;
					display: none;
					position: absolute;
					background-color: lightgray;
					z-index: 100;
					top: 50px;
					right: 10px;
					list-style: none;
					padding: 5px;
					li {
						padding: 10px;
					}
					li:hover {
						background-color: gray;
					}
				}
			}
			#user-menu:hover .user-menu-options {
				display: block;
			}
		}	
	}
}

#log-in-link {
	margin: 16px 10px 0 0;
}

header nav a {
	margin: 0;
	text-decoration: none;
	color: white;
}

header nav a:hover {
	background-color: transparent;
	color: white;
}

.container {
	margin: 50px auto;
	max-width: 960px;
}

// #logged-out-home-container {
// 	background-color: #2F2F2F;
// 	width: 100%;
// 	height: 100%;
// }

.simple-form {
	heigth: 25px;
	width: 75px;
	padding: 10px;
	margin: 250px auto;
	text-align: center;
	a {
		font-family: "Helvetica";
		text-decoration: none;
		color: #384249;
	}
}

.portal-form {
	height: 150px;
	width: 200px;
	margin: 250px auto;
	text-align: center;
	font-family: "Helvetica";
	span {
		font-size: .85em;
	}
	input {
		height: 35px;
		width: 180px;
		padding-left: 13px;
		border: none;
		outline-style: none;
		line-height: 20px;
		border-radius: 5px;
	}
}

.book-search {
	margin-top: 100px;
	text-align: center;
	input[type="text"] {
		height: 25px;
		width: 200px;
		border: none;
		border-bottom: 2px solid #2F2F2F;
	}
	input[type="submit"] {
		border: none;
		background-color: none;
		margin: 8px 0 0 0;
	}
}
hr {
	color: #2F2F2F;
	background-color: #2F2F2F;
}

