html {
	background-color: #64C08C;
}

#signup-xs {
	display: none;
	margin-bottom: 25px;
}

#login-xs {
	margin-bottom: 25px;
	p {
		position: absolute;
		bottom: 22px;
		left: 100px;
	}
}

#nav-width-patch {
	font-size: 3em;
	color: #64C08C;
	font-family: 'Lato', sans-serif;
	// padding: 17px 15px 13px 15px;
}

#general-search {
	margin-top: 10px;
	margin-bottom: 10px;
}

#current-user-menu {
	padding-top: 10px;
	padding-bottom: 10px;
}

main {
	padding-top: 68px;
}

#intro-heading {
	font-family: 'Gentium Book Basic', serif;
	text-align: center;
	font-size: 6em;
	margin: 0;
	a {
		color: #64C08C;
	}
	a:hover {
		text-decoration: none;
	}
}

#intro-heading-row {
	margin-bottom: 40px;
}

#intro-graphic {
	text-align: center;
	img {
		width: 100%;
	}
}

.modal-backdrop {
	background-color: transparent;
}

.alert-list {
	padding: 0;
}

.error {
	list-style-type: none;
	padding: 6px 12px;
}

#sig-footer {
	height: 50px;
	background-color: #64C08C;
	padding: 15px 0;
	margin-top: 50px;
	width: 100%;
}

#sig {
	text-align: center;
	color: white;
	margin: 0;
	a {
		color: white;
		text-decoration: underline;
	}
}

#alert-add-books {
	margin-top: 50px;
}

#discussion textarea:focus, input[type]:focus {
	border-color: #64C08C;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#form-info {
	display: none;
}
