.new-reply-form {
	display: none;
}

.reply-form {
	position: relative;
	// margin: 0 0 10px 0;

	textarea {
		// height: 92px;
		resize: none;
	}

	button {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
}
