$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

#profile-card {
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
	h1 {
		font-size: 18px;
		margin: 10px 0;
	}
}

.stats {

}

.stat {
	display: inline-block;
	margin: 0 5px;
}

#follow-form {
	margin-top: 15px;
}

#bookshelf {
	float: right;
}

#tool-bar {
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	padding: 8px 10px;
	margin-bottom: 15px;
	border-radius: 4px;
	li {
		display: inline-block;
		a {
			text-decoration: none;
			color: black;
		}
	}
	#stats {
		float: right;
	}
}

#reading-list {
	margin-top: 15px;
	text-align: center;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	h1 {
		margin-bottom: 0;
	}
	.book {
		width: 100px;
		img {
			width: 100%;
		}
	}
	a {
		text-decoration: none;
	}
	p {
		margin: 5px 0 0 0;
		height: 30px;
		padding: 5px;
		&:hover {
			background-color: rgb(238, 238, 238);
		}
	}
}

.searched-book {
	width: 28.8%;
	form {
		width: 100%;
		input {
			width: 100%;
		}
	}
}

.user-book {
	width: 28.9%;
	img {
		width: 100%;
	}
}

.plus-cover {
	height: 150px;
	width: 100px;
	background-color: white;
	display: inline-block;
	margin: 10px;
	p {
		margin-top: 55px;
		text-align: center;
		font-size: 30px;
		font-family: "Helvetica";
		color: lightgray;
		text-decoration: none;
	}
}

#log-out-link {
	text-align: center;
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {

	.searched-book {
		width: 22.7%;
		form {
			width: 100%;
			input {
				width: 100%;
			}
		}
	}

	.user-book {
		width: 14.8%;
	}
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {

	#profile-card {
		width: 210px;
	}

	#bookshelf {
		width: 760px;
	}

	.searched-book {
		width: 22.7%;
		form {
			width: 100%;
			input {
				width: 100%;
			}
		}
	}

  .user-book {
		width: 12.8%;
	}
}

@media (min-width: $screen-lg) {

	#profile-card {
		width: 210px;
	}

	#bookshelf {
		width: 960px;
	}

	.searched-book {
		width: 22.7%;
		form {
			width: 100%;
			input {
				width: 100%;
			}
		}
	}
  .user-book {
		width: 11.3%;
	}
}
