#profile-header {
	height: 200px;
	position: relative;
	font-family: "Helvetica";

	img {
		display: inline-block;
		border-radius: 100%;
		margin: 15px 0 0 10px;
	}
	#profile-information {
		padding-left: 10px;
		display: inline-block;
		position: absolute;
		width: 770px;
		height: 200px;
		#profile-name {
			margin: 0;
			padding: 0;
		}
	}
}

#divider {
	margin: 10px 0 15px 0;
	background-color: #374140;
	height: 2px;
}

.profile-bookshelf {
	// background-color: #efefef;
	text-align: justify;
	// border-top: 1px solid lightgray;
}

.plus-cover {
	height: 150px;
	width: 100px;
	background-color: white;
	display: inline-block;
	margin: 10px;
	p {
		margin-top: 55px;
		text-align: center;
		font-size: 30px;
		font-family: "Helvetica";
		color: lightgray;
		text-decoration: none;
	}
}

#log-out-link {
	text-align: center;
}