#profile-header {
	height: 210px;
	position: relative;
	font-family: "Helvetica";

	img {
		display: inline-block;
		border-radius: 100%;
		margin: 15px 0 15px 10px;
	}
	#profile-information {
		padding-left: 10px;
		display: inline-block;
		position: absolute;
		width: 760px;
		height: 210px;
		#profile-name {
			margin: 0;
			padding: 0;
		}
	}
}

#book-nav-bar {
	margin: 0 0 15px 0;
	background-color: #374140;
	height: 30px;
}

.profile-bookshelf {
	text-align: justify;
}

.plus-cover {
	height: 150px;
	width: 100px;
	background-color: white;
	display: inline-block;
	margin: 10px;
	p {
		margin-top: 55px;
		text-align: center;
		font-size: 30px;
		font-family: "Helvetica";
		color: lightgray;
		text-decoration: none;
	}
}

#log-out-link {
	text-align: center;
}

.user {
	margin: 10px;
	display: inline-block;

	img {
		border-radius: 100%;
	}
}